<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shell</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>WEB SHELL</h1>
    <div>
        <code id="shell"></code>
    </div>
    <div>
        <input id="input" type="text" size="40" placeholder="Input command">
    </div>
    <div>
        <p>Usage:<br />
            -d - Disconnect from server<br />
            -c - Connect to server<br />
            clear - clear console</p>
    </div>

    <pre id="converter" hidden></pre>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>