<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Shell</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>WEB SHELL</h1>

    <pre class="prettyprint"><code id="shell"></code></pre>

    <br><br>

    <input id="input" size="80" placeholder="Input command">

    <br><br>

    <a href="#" onclick="leave_room();">Disconnect</a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <!--<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>-->
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.js"></script>-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
<!--    <script src="{{ url_for('static', filename='js/sharedSockets.js') }}"></script>-->
</body>
</html>