{%- extends "bootstrap/base.html" %}

<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Web Shell</title>-->

<!--    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">-->
<!--</head>-->
<!--<body>-->
<!--    <h1>WEB SHELL</h1>-->
    {% block content %}
    <div>
        <code id="shell"></code>
    </div>
    <div>
        <input id="input" type="text" placeholder="Input command">
    </div>
    <div>
        <p>Usage:<br />
            -d - Disconnect from server<br />
            -c - Connect to server<br />
            clear - clear console</p>
    </div>

    <pre id="converter" hidden></pre>
    {% endblock %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {{super()}}
    {% endblock %}

    {% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    {{super()}}
    {% endblock %}

<!--</body>-->
<!--</html>-->